@model DoctorViewModel

@{
    ViewData["Title"] = "Doktor Ekle";
    var PoliclinicList = ViewBag.PoliclinicList;
}

<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> ViewData["Title"] </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>
<body>
    <!-- contact section -->
    <section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Doktor Ekle
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container contact-form">
                        <form method="post" asp-action="DoktorEkle" asp-controller="Admin">
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div>
                                        <label asp-for="id" class="form-label">TC</label>
                                        <input type="text" asp-for="id" class="form-control" placeholder="Tc..." />
                                        <span asp-validation-for="id" class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label asp-for="name" class="form-label">Kullanıcı Adı</label>
                                        <input type="text" asp-for="name" class="form-control" placeholder="name.." />
                                        <span asp-validation-for="name" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div>
                                        <label asp-for="Password" class="form-label">Şifre </label>
                                        <input type="text" asp-for="Password" type="password" class="form-control" placeholder="PassWord!" />
                                        <span asp-validation-for="Password" class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label asp-for="RePassword" class="form-label">Şifre Tekrarı</label>
                                        <input type="text" asp-for="RePassword" type="password" class="form-control" placeholder="PassWord" />
                                        <span asp-validation-for="RePassword" class="text-danger small"></span>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <label name="Policlinic" asp-for="PoliclinicId" for="Policlinic">PoliClinic:</label>
                                <select id="Policlinic" name="PoliclinicId" asp-for="PoliclinicId" class="form-control">
                                    @if (ViewBag.PoliclinicList != null)
                                    {
                                        foreach (var policlinic in PoliclinicList)
                                        {
                                            <option value="@policlinic.Value">@policlinic.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="btn_box">
                                <button class="mt-5">
                                    Ekle
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                        <div class="map">
                            <div id="googleMap"><img src="~/images/doctorlogo.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->
</body>
</html>