@{
    ViewData["Title"] = "Randevularım";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-4">

        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>

        <form method="post" asp-asp-controller="Appointment" asp-action="Details">
            <div class="form-group">
                <label class="form-label small">Username</label>
                <div class="input-group mb-3">
                    <input name="Username" type="text" class="form-control" disabled value="@ViewData["Username"]" />
                </div>
            </div>
            <div class="form-group">
                <label class="form-label small">Doctor</label>
                <div class="input-group mb-3">
                    <input name="Username" type="text" class="form-control" disabled value="@ViewData["Doctorname"]" />
                </div>
            </div>
        </form>


    </div>
</div>
