@model IEnumerable<Hospital_reservation_system.Models.AppointmentViewModel>

@{
    ViewData["Title"] = "Randevularım";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
    <th>ID</th>
    <th>User ID</th>
    <th>Selected Doctor ID</th>
    <th>Policlinic ID</th>
    <th>Date</th>
    <th>Time</th>
    </thead>
    <tbody>
        @foreach (var AppointmentViewModel in Model)
        {
            <tr>
                <td>@AppointmentViewModel.selecktedDoctorID</td>
                
            
            </tr>
        }
    </tbody>
</table>
